<h1>{{ title }}</h1>

<div class="well">
    <div class="form-group">
        <form>
            <label for="contactEmail">email</label>
            <input type="email" class="form-control" id="contactEmail" placeholder="email...">
            <br/>
            <label for="contactMessage">message</label>
            <textarea class="form-control" id="contactMessage" placeholder="message..." rows="10"></textarea>
            <br/>
            <button type="submit" name="submitContact" class="btn btn-default">send it...</button>
        </form>
    </div>
</div>