<h1>{{ title }}</h1>

<div class="well">
    <div class="form-group">
        <form>
            <label for="username">username</label>
            <input type="text" class="form-control" id="username" placeholder="enter your username..." />
            <br/>
            <label for="password">password</label>
            <input type="password" class="form-control" id="password" placeholder="and your password..." />
            <br/>
            <button type="submit" name="submitContact" class="btn btn-default">let me in...</button>
        </form>
    </div>
</div>