<!DOCTYPE html>
<html>
<head>
    <title>Error (<%= error.status %>)</title>
    <% include partials/_head %>
</head>

<body>
    <div style="padding:50px">
        <img src="images/icons/ms-icon-150x150.png"/>
        <h1>These are not the droids you're looking for...</h1>
        <h2><i class="fa fa-exclamation-triangle"></i> <%= message %> (<%= error.status %>)</h2>
        <pre><%= error.stack %></pre>
    </div>
</body>
</html>
