<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include partials/_head %>
</head>

<body data-ng-controller="mainController">
    <% include partials/_navigation %>

    <div class="container" id="appContainer">
        <div class="row">
            <div class="col-md-12">
                <div data-ng-view=""></div>
            </div>
        </div>
    </div>

    <script src="/javascripts/components/requirejs/require.js" data-main="/javascripts/app/modules/main.js"></script>
</body>
</html>
