<!DOCTYPE html>
<html>
<head>
    <title><%= title %> (v<%= version %>)</title>
    <% include partials/_head %>
</head>

<body data-ng-controller="mainController">
    <div data-ng-view=""></div>

    <script src="/javascripts/components/requirejs/require.js" data-main="/javascripts/app/modules/main-v1.js"></script>
</body>
</html>
